body {
    background-color: black;
    color: #0F0;
    font-family: verdana;
}

body input,
body label {
    display: block;
}

h1 {
    text-align: center;
}


input {
    outline: none;
    border: none;
    background-color: black;
    color: #0F0;
    padding: 1em .5em;
    display: block;
    font-size: 1.5em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

label {
    display: block;
    padding: 1em .5em;
    font-size: 1.5em;
}

div.messages {
    margin-left: 1em;
}

form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

div.player_display {
    background-color: gray;
    color: #00F;
    font-family: verdana;
/**/
    display: inline-block;
    width: 220px;
    height: 400px;
    margin: 20px;
    border: 3px solid #73AD21;  
/**/
    position: absolute;
    right: 0px;
}

div.player_heading {
    text-align: center;
}

div.player_box {
    /*
    border: 1px;
    */
    color: mediumvioletred;
}

div.dice_box {
    /*
    color: black;
    border-color: black;
    border: 1px;
    */
    height: 45px;
    width: 100%;
    margin-left: 2px;
}

div.hidden_die {
    
    color: black;
    fill: rebeccapurple;
    border-color: black;
    
    border: 1px;
    height: 40px;
    width: 40px;
    float: left;
    padding: 2px;
}

.floating-box {
    display: inline-block;
    width: 150px;
    height: 600px;
    margin: 10px;
    border: 3px solid #73AD21;  
}
