body {
    background-color: black;
    color: #0F0;
    font-family: verdana;
}

body input,
body label {
    display: block;
}

h1 {
    text-align: center;
}


input {
    outline: none;
    border: none;
    background-color: black;
    color: #0F0;
    padding: 1em .5em;
    display: block;
    font-size: 1.5em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

label {
    display: block;
    padding: 1em .5em;
    font-size: 1.5em;
}

div.message_container {
    height: 200px;
    width: 60%;
    border: 2px solid gray; 
}

div.messages {
    height: 180px;
    overflow: auto;
    margin-left: 1em;
}

form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

div.player_display {
    background-color: gray;
    color: #00F;
    font-family: verdana;
/**/
/*
    display: inline-block;
*/
    width: 220px;
    height: 400px;
    margin: 20px;
    border: 3px solid #73AD21;  
/**/
    position: absolute;
    right: 0px;
}

div.player_heading {
    text-align: center;
}

div.player_box {
    /*
    border: 1px;
    */
    color: darkolivegreen;
    margin-left: 5px;
}

div.dice_box {
    height: 44px;
    width: 100%;
    /*
    margin-left: 4px;
    */
}

div.hidden_die {
    color: black;
    background-color: firebrick;
    border: solid 1px orangered;
    height: 36px;
    width: 36px;
    float: left;
    margin: 2px;

    align-content: center;
    line-height: 36px;
    text-align: center;
    
}
/*
.floating-box {
    display: inline-block;
    width: 150px;
    height: 600px;
    margin: 10px;
    border: 3px solid #73AD21;  
}
*/
